@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap");
.container-lg, .container-md, .container-sm {
  margin: 0 auto;
  padding: 0 1rem;
}

.container-sm {
  max-width: 800px;
}

.container-md {
  max-width: 1000px;
}

.container-lg {
  max-width: 1200px;
}

.button-secondary-outline, .button-secondary, .button-primary-outline, .button-primary {
  padding: 0.5rem 1rem;
  display: inline-block;
  border-radius: 0.25rem;
  border: solid 2px;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.button-small.button-secondary-outline, .button-small.button-secondary, .button-small.button-primary-outline, .button-small.button-primary {
  font-size: 0.85rem;
}
.button-large.button-secondary-outline, .button-large.button-secondary, .button-large.button-primary-outline, .button-large.button-primary {
  font-size: 1.15rem;
}
.button-base.button-secondary-outline, .button-base.button-secondary, .button-base.button-primary-outline, .button-base.button-primary {
  margin-bottom: 0;
}

.button-primary {
  border-color: purple;
  background: purple;
  color: #fff;
}
.button-primary:hover {
  border-color: #b300b3;
  background: #b300b3;
  color: #fff;
}

.button-primary-outline {
  border: solid 2px purple;
  color: purple;
}
.button-primary-outline:hover {
  border-color: #b300b3;
  background: #b300b3;
  color: #fff;
}

.button-secondary {
  border-color: orange;
  background: orange;
  color: #fff;
}
.button-secondary:hover {
  border-color: #ffb733;
  background: #ffb733;
  color: #fff;
}

.button-secondary-outline {
  border: solid 2px orange;
  color: orange;
}
.button-secondary-outline:hover {
  border-color: #ffb733;
  background: #ffb733;
  color: #fff;
}

body {
  background-color: #f7f7f9;
  margin: 0;
}

.header {
  background-color: #ffffff;
  padding: 0.75rem 0;
}
.header .brand {
  font-size: 1.5rem;
  color: #333 !important;
  text-decoration: none;
}

.jumbotron {
  background-color: purple;
  text-align: center;
  color: #fff;
  padding-bottom: 50px;
}
.jumbotron .content {
  padding: 3rem 0;
}
.jumbotron .content h1 {
  margin: 0;
  font-size: 4rem;
}
.jumbotron .content p {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.popout {
  position: relative;
  background-color: #ffffff;
  border-radius: 0.25rem;
  height: 300px;
  margin: -50px auto;
  border: solid 1px #e9e9e9;
  text-align: center;
  padding: 50px 1rem;
}
.popout h1 {
  margin: 0;
}

.main {
  background-color: #ffffff;
  padding: 50px 0;
}

.source-display {
  border: solid 2px #f7f7f7;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-bottom: 1rem;
}
.source-display .source-window {
  padding: 1rem;
}
.source-display .source-code {
  background-color: #f7f7f7;
}
.source-display .source-code pre {
  margin: 0;
  padding: 1rem;
}
.source-display .source-code pre code {
  font-family: "Source Code Pro", monospace;
  color: #666;
  cursor: text;
}

body {
  color: #333;
  font-family: sans-serif;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
