$color1: rgba(236, 11, 67, 1);
$color2: rgba(88, 53, 94, 1);
$color3: rgba(249, 222, 201, 1);
$color4: rgba(122, 231, 199, 1);
$color5: rgba(255, 246, 137, 1);

$color-primary: $color1;
$color-secondary: $color2;
$text-light: #fff;
$text-dark: #333;
$body-text: $text-dark;

@import "core/main";