$color1: rgba(121, 183, 145, 1);
$color2: rgba(171, 209, 181, 1);
$color3: rgba(237, 244, 237, 1);
$color4: rgba(81, 41, 30, 1);
$color5: rgba(48, 16, 20, 1);

$color-primary: $color1;
$color-secondary: $color2;
$text-light: #fff;
$text-dark: #333;
$body-text: $text-dark;

@import "core/main";