@function switch($color) {
  @if (lightness($color) > 50) {
    @return #000000; // return dark color on light background
  } @else {
    @return #ffffff; // return light color on dark background
  }
}

$color-primary: #00baff;
$color-secondary: orangered;

.button {
  padding: .5rem 1rem;
  display: inline-block;
  border-radius: .25rem;
  text-decoration: none;
  font-weight: bold;
  border: solid 2px $color-primary;
  color: $color-primary;
  transition: .15s;
  &:hover {
    border-color: $color-primary;
    background: $color-primary;
    color: switch($color-primary);
  }
}

%container {
  margin: 0 auto;
  padding: 0 1rem;
}
.container-md {
  @extend %container;
  max-width: 1200px;
}
.container-sm {
  @extend %container;
  max-width: 1000px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background-color: #ffffff;
  padding: .75rem 0;
  .brand {
    font-size: 1.5rem;
    color: #333;
  }
}

.jumbotron {
  background-color: $color-primary;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 50px;
  h1 {
    margin: 0;
    font-size: 4rem;
    color: #ffffff;
  }
}

.popout {
  position: relative;
  background-color: #ffffff;
  border-radius: .25rem;
  height: 400px;
  margin: -50px auto;
  border: solid 1px #e9e9e9;
}

.main {
  background-color: #ffffff;
  height: 500px;
  padding-top: 50px;
}

.footer {
  padding: 1rem 0;
  color: switch($color-primary);
  background-color: $color-primary;
  text-align: center;
}

body {
  background-color: #f7f7f9;
  margin: 0;
  font-family: sans-serif;
}