$transform-percentage: 10%;

%button {
    padding: .5rem 1rem;
    display: inline-block;
    border-radius: .25rem;
    border: solid 2px;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: .5rem;
    &.button-small {
        font-size: .85rem;
    }
    &.button-large {
        font-size: 1.15rem;
    }
    &.button-base {
        margin-bottom: 0;
    }
}

.button-primary {
    @extend %button;
    border-color: $color-primary;
    background: $color-primary;
    color: switch($color-primary);
    &:hover {
        border-color: detect($color-primary, $transform-percentage);
        background: detect($color-primary, $transform-percentage);
        color: switch($color-primary);
    }
}

.button-primary-outline {
    @extend %button;
    border: solid 2px $color-primary;
    color: $color-primary;
    &:hover {
        border-color: detect($color-primary, $transform-percentage);
        background: detect($color-primary, $transform-percentage);
        color: switch($color-primary);
    }
}

.button-secondary {
    @extend %button;
    border-color: $color-secondary;
    background: $color-secondary;
    color: switch($color-secondary);
    &:hover {
        border-color: detect($color-secondary, $transform-percentage);
        background: detect($color-secondary, $transform-percentage);
        color: switch($color-secondary);
    }
}

.button-secondary-outline {
    @extend %button;
    border: solid 2px $color-secondary;
    color: $color-secondary;
    &:hover {
        border-color: detect($color-secondary, $transform-percentage);
        background: detect($color-secondary, $transform-percentage);
        color: switch($color-secondary);
    }
}