@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

body {
    background-color: #f7f7f9;
    margin: 0;
}

.header {
    background-color: #ffffff;
    padding: .75rem 0;
    .brand {
        font-size: 1.5rem;
        color: #333 !important;
        text-decoration: none;
    }
}
  
.jumbotron {
    background-color: $color-primary;
    text-align: center;
    color: switch($color-primary);
    padding-bottom: 50px;
    .content {
        padding: 3rem 0;
        h1 {
            margin: 0;
            font-size: 4rem;
        }
        p {
            font-size: 1.2rem;
            margin-bottom: 0;
        }
    }
}
  
.popout {
    position: relative;
    background-color: #ffffff;
    border-radius: .25rem;
    height: 300px;
    margin: -50px auto;
    border: solid 1px #e9e9e9;
    text-align: center;
    padding: 50px 1rem;
    h1 {
        margin: 0;
    }
}
  
.main {
    background-color: #ffffff;
    padding: 50px 0;
}

.source-display {
    border: solid 2px #f7f7f7;
    border-radius: .5rem;
    overflow: hidden;
    margin-bottom: 1rem;
    .source-window {
        padding: 1rem;
    }
    .source-code {
        background-color: #f7f7f7;
        pre {
            margin: 0;
            padding: 1rem;
            code {
                font-family: 'Source Code Pro', monospace;;
                color: #666;
                cursor: text;
            }
        }
    }
}